#root {
    height: 100%;
    overflow-x: hidden;
}

#top-hero {
    background-image: url(./images/LongBkImg.png);
    height: 100vh;
    background-attachment: fixed;
    background-repeat: repeat;
    display: flex;
    flex-direction: column;
}

#top-hero-actions {
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-hero-button {
    background: #434d5f;
    color: white;
    font-weight: 600;
    padding: 5px;
    font-size: 20px;
    border-radius: 10px;
}

@media only screen and (max-width: 767px) {
    #top-hero {
        background-size: 100vw;
        background-position: 100% 230px;
    }
}

@media only screen and (min-width: 768px) {
    #top-hero {
        background-size: 65vw;
        background-position: 100% 50px;
    }
}

#top-hero-callout {
    mix-blend-mode: overlay;
    color: white;
    font-weight: 600;
    display: inline-block;
    align-items: center;
}


@media only screen and (max-width: 767px) {
    #top-hero-callout {
        font-size: 14vw;
    }
}

@media only screen and (min-width: 768px) {
    #top-hero-callout {
        font-size: 6vw;
    }
}

#top-hero-top-alignment {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    height: 60%;
    min-height: 500px;
}

#top-hero-demo-image {
    width: 70vw;
    image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
    image-rendering: crisp-edges;
}

#top-hero-top-part {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

#top-hero-title-desktop {
    color: white;
    font-weight: 600;
    font-size: min(40px, 2.5vw);
    margin-top: 10px;
}

@media only screen and (max-width: 767px) {
    #top-hero-title-desktop {
        display: none;
    }
}

@media only screen and (min-width: 768px) {
    #top-hero-title-desktop {
        display: block;
    }
}

