
.story-callout.brown {
    color: rgb(185, 114, 96);
}

.story-callout.blue {
    color: rgb(121, 148, 204);
}

.story-callout.green {
    color: rgb(119, 166, 153);
}

.story-callout.red {
    color: rgb(243, 114, 114);
}

.story-callout.yellow {
    color: rgb(221, 185, 113);
}


.story-callout.invbrown {
    background: rgb(185, 114, 96);
    color: #fafafa;
}

.story-callout.invblue {
    background: rgb(121, 148, 204);
    color: #fafafa;
}

.story-callout.invgreen {
    background: rgb(119, 166, 153);
    color: #fafafa;
}

.story-callout.invred {
    background: rgb(243, 114, 114);
    color: #fafafa;
}

.story-callout.invyellow {
    background: rgb(221, 185, 113);
    color: #fafafa;
}

#story {
    position:static;
    background: #f2f2f2;
    width: 100%;
    margin: max(3vw, 10px);
}

.chapter {
    margin: 0 auto;
}

.story-callout {
    margin-left: 5px;
    padding: 5px 20px;
}

.story-header {
    margin: 0;
    padding: 0;

    margin-top: 20px;
    margin-left: 5px;
    padding: 5px 20px;

    word-break: break-all;

    display: inline-block;

    font-weight: 600;
    font-size: 35px;
}

.story-image-1-1 {
    display: inline-block;
    width: 110vw;
}

.test {
    position: absolute;
    top: 0%;
    transform: translateY(30vh);
}

